.welcome {
  font-size: 40px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: center;
  margin-top: 100px;
}

.button {
  color: var(--second-color);
  cursor: pointer;
  padding: 12px 48px;
  border: none;
  border-radius: 8px;
  background-color: #155DA4;
}