.navigation {
  height: 77px;
  padding: 0 180px;
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  column-gap: 16px;
  color: #B0B0B0;

}

.navigation__link {
  color: #B0B0B0;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;

}

@media screen and (max-width: 900px) {
  .navigation {
    padding: 0 72px;
  }

  .navigation__link {
    font-size: 12px;
  }

  .navigation__list {
    display: flex;
    column-gap: 14px;
  }
}

@media screen and (max-width: 500px) {
  .navigation {
    padding: 0 48px;
  }

  .navigation__name {
    font-size: 14px;
    max-width: 14vw;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 320px) {

  .navigation {
    padding: 0 24px;
    height: 44px;
  }

  .navigation__list {
    display: flex;
    column-gap: 12px;

  }

  .navigation__name {
    max-width: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}