.person {
  padding: 0 180px;
}

.top {
  display: flex;
  column-gap: 42px;
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.person__image {
  width: 163px;
  height: 163px;
  border-radius: 50%;
}

.person__name {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
}

.person__position {
  font-size: 24px;
  margin-bottom: 24px;
  font-weight: 500;
}

.person__stack {
  display: flex;
  column-gap: 16px;
}

.person__stackItem {
  width: fit-content;
  border-radius: 5px;
  padding: 10px 21.5px;
  background-color: var(--second-color);
}

.person__stackItem:hover {
  opacity: 0.8;
  transition: .2s ease-in-out;
}

.person__title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 32px;
}

.person__infoList {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.person__infoItem {
  font-size: 24px;
  display: flex;

}

.person__infoLabel {
  font-weight: 500;
  width: 300px;
}

.person__infoValue {
  font-weight: 400;
}

.deleteButton {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
}

.deleteButton:hover {
  background-color: darkred;
}

/* Модальное окно для подтверждения удаления */
.confirmModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmModalContent {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.confirmModalContent button {
  margin: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.confirmModalContent button:nth-child(1) {
  background-color: red;
  color: white;
}

.confirmModalContent button:nth-child(2) {
  background-color: gray;
  color: white;
}


@media screen and (max-width: 900px) {
  .person {
    padding: 0 48px;
  }

  .person__image {
    width: 125px;
    height: 125px;
  }

  .person__name {
    font-size: 24px;
  }

  .person__position {
    font-size: 18px;
  }

  .person__stackItem {
    font-size: 14px;
  }

  .person__title {
    font-size: 24px;
  }

  .person__infoItem {
    font-size: 18px;
  }

  .top {
    column-gap: 20px;
  }
}

@media screen and (max-width: 500px) {
  .person__name {
    font-size: 20px;
  }

  .person__position {
    font-size: 14px;
  }

  .person__stackItem {
    font-size: 12px;
  }

  .person__title {
    font-size: 16px;
  }

  .person__infoItem {
    font-size: 12px;
  }

  .person__infoItem {
    white-space: nowrap;
  }
}

@media screen and (max-width: 320px) {
  .person {
    padding: 0 24px;
  }

  .person__image {
    width: 100px;
    height: 100px;
  }

  .person__name {
    margin-top: 4px;
    margin-bottom: 10px;
  }

  .person__position {
    margin-bottom: 0;
  }

  .person__stack {
    position: absolute;
    left: 0;
    bottom: 20px;
    column-gap: 8px;
  }

  .top {
    column-gap: 20px;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 66px;
  }

  .person__title {
    margin-bottom: 16px;
  }

  .person__infoValue {
    white-space: nowrap;
  }
}