.employee {
  display: flex;
  padding-top: 32px;
  padding-bottom: 28px;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
}

.employee:hover {
  background-color: var(--second-color);
  transition: all 0.3s ease-in-out;
}

.employee li {
  width: 100%;
}

.employee__name {
  max-width: 725px;
}

.employee__post {
  max-width: 400px;
}

.employee__telephone {
  max-width: 280px;
  white-space: nowrap;
}

.employee__dateofEmployment {
  max-width: 180px;
  white-space: nowrap;
}

@media screen and (max-width: 320px) {
  .employee {
    padding: 12px 24px;
    border-bottom: 1px solid var(--second-color);
    column-gap: 16px;
  }
}